<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="/content/styles/home/style.css" />
<script type="text/javascript" src="/scripts/jquery/js/jquery-1.7.2.min.js" ></script>
<script type="text/javascript">


</script>
 <script src="scripts/closure-library/closure/goog/base.js"  type="text/javascript"> </script> 


<title>Los casos de factorizacion</title>
</head>
<body>
<script type="text/javascript">

</script>
<div id="contenido"></div>
<div id="head">
  <div id="logo">
    <h1>Los casos de factorizacion</h1>
  </div>
</div>
<div id="content">
  <div> <a href="/commonfactor">Factor Comun</a> </div>
  <div> <a href="#">Factor Comun agrupacion de terminos</a> </div>
  <div> <a href="#">Casos para Trinomios</a> </div>
  <div> <a href="#">Diferencia de cuadrados</a> </div>
  <div> <a href="#">Trinomio cuadrado perfecto por adicion y sustraccion</a> </div>
  <div> <a href="#">Trinomio cuadrado de la forma </a> </div>
  <div> <a href="#">Trinomio cuadrado de la forma </a> </div>
  <div> <a href="#">Cubo perfecto de Binomios</a> </div>
  <div> <a href="#">Suma o Diferencia de Cubos perfectosforma </a> </div>
  <div> <a href="#">Suma o Diferencia de dos potencias iguales </a> </div>
  <div> <a href="#">Casos para Polinomios</a> </div>
  
</div>

<script type="text/javascript"> 
function cargarDialogo(){

  //var x = new goog.net.XhrIo;
  //goog.events.listen(x, goog.net.EventType.SUCCESS, function(e,o,y) {
	//	debugger;    
//var objetocontenido = goog.dom.getElement('contenido');
	//alert(e.target.getResponseText());
	
	//objetocontenido.innerHTML = e.target.getResponse();
//  });  
$("#contenido").load("content/test.html");
  
/*ABORT: "abort"
COMPLETE: "complete"
ERROR: "error"
INCREMENTAL_DATA: "incrementaldata"
PROGRESS: "progress"
READY: "ready"
READY_STATE_CHANGE: "readystatechange"
SUCCESS: "success"
TIMEOUT: "timeout"*/
  //x.send("content/test.html");
  
/*	var moduleLoader = null;
	var moduleManager = null;
	moduleManager = goog.module.ModuleManager.getInstance();
	moduleLoader = new goog.module.ModuleLoader();

  moduleManager.setLoader(moduleLoader);
  moduleManager.setAllModuleInfo({
      'goog.ui.Dialog': []
  });
  moduleManager.setModuleUris({
      'goog.ui.Dialog': ['scripts/closure-library/closure/goog/ui/dialog.js']
  });*/



//var cargado = moduleManager.execOnLoad('goog.ui.Dialog', function() {

//alert("dialogo cargado");
/*			
		var dialog = new goog.ui.Dialog();	    
		
		dialog.setContent('Lorem ipsum dolor sit amet, consectetuer' +
        'adipiscing elit. Aenean sollicitudin ultrices urna. Proin vehicula ' +
        'mauris ac est. Ut scelerisque, risus ut facilisis dictum, est massa ' +
        'lacinia lorem, in fermentum purus ligula quis nunc. Duis porttitor ' +
        'euismod risus. Nam hendrerit lacus vehicula augue. Duis ante.');
		dialog.setTitle('My favorite LOLCat');
		dialog.setVisible(true);
	*/

}
</script>
</body>
</html>